* {
  box-sizing: border-box;
  font-family: arial;
}

.conteiner {
  width: 1200px;
  margin: 0 auto;
}
.box {
  /* Вспомогательные линии */
  border: 3px solid red;
  background-color: rgb(0, 208, 197);
}
.box__iner {
  /* Вспомогательные линии */
  border: 3px solid blue;
  height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-size: 20px;
}
.item {
  /* Вспомогательные линии */
  border: 3px solid green;
  align-items: center;
}
.text {
  text-transform: uppercase;
}
i.fa {
  display: contents;
  font-size: 70px;
}

.item_icon {
  /* Вспомогательные линии */
  border: 3px solid yellowgreen;
  padding-left: 5px;
}
