hr{
	border:1px solid #01B6D4;
}
.box{
	margin-left: 20px;
	margin-right: 20px;
}
img{
 height:300px;
 width:300px;
 margin:10px;
}
p{
	font-size: 21px;
}
.vl{
	border-left: 6px solid blue;
    height: 100px;
}
.re{
	border: 0,8px solid #01B6D4;
}
body{
	/*background: linear-gradient(449deg,#3B24f4,#ff0058);*/
}
.bl{
	color: #01B6D4;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.9em;
}
#dog{
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
	border-bottom: 1px solid #01B6D4;
	padding-bottom: 20px;
}