* {
  box-sizing: border-box;
  font-family: arial;
}
.box {
  /* Вспомогательные линии */
  border: 4px solid red;

  background: rgb(0, 11, 65);
  background: linear-gradient(
    90deg,
    rgba(0, 11, 65, 1) 0%,
    rgba(22, 0, 190, 1) 100%
  );
}
.container {
  /* Вспомогательные линии */
  border: 3px solid green;

  width: 1170px;
  margin: 0 auto;
}
.box__iner {
  /* Вспомогательные линии */
  border: 3px solid yellow;

  height: 300px;
  /* Чтобы распределить по ширине */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.item {
  /* Вспомогательные линии */
  border: 3px solid green;
  text-align: center;
}
.number {
  padding-top: 15px;
  color: #fff;
  font-size: 60px;
}
.text {
  text-align: center;
  color: rgb(73, 161, 255);
  font-size: 25px;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.line {
  width: 30px;
  height: 3px;
  background-color: #fff;
  align-items: center;
  /* Выравнивание по центру линии с помощь margin Охренено */
  margin: 0 auto;
}

i.fa {
  /* Вспомогательные линии */
  border: 3px solid fuchsia;

  font-size: 70px;
  color: #fff;
}
