*,
*::before,
:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 20px;
}
body,
h1,
h2,
h3,
ul,
ol {
  margin: 0;
  padding: 0;
}
.header {
  background-color: rgb(42, 134, 21);
}
.conteiner {
  margin: 0 auto;
  background-color: #eee;
  max-width: 1200px;
  padding: 0 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.row > div {
  padding: 15px;
  border: 1px black solid;
  background-color: wheat;
  margin: 0 auto;
}
