* {
  box-sizing: border-box;
}

div.parent {
  height: 250px;
  border: 1px red solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.parent div:nth-child(4) {
  color: blue;
  align-content: space-around;
}
