#color {
  color: red;
}

#background-color {
  background-color: teal;
}

#p-id {
  background-color: yellow;
}

.p--class {
  background-color: skyblue;
}

#font-family {
  font-family: 'consolas', sans-serif;
}

#font-family2 {
  font-family: 'Press Start 2P';
}

#font-style {
  font-style: italic;
}

#font-weight {
  font-weight: bold;
}
#text-decoration {
  text-decoration: cyan dotted underline;
}

#font-size {
  font-size: 25px;
}

#border-one {
  border-top: dotted;
  border-bottom: solid;
  border-left: double;
  border-left-width: 10px;
  border-left-color: blue;
  border-right: double;
  border-right-width: 20px;
  border-right-color: red;
}

#border {
  border: outset;
  border-color: gold;
  border-width: 5px;
  border-radius: 10px;
  font-size: 20px;
}

/* Градиент - для него есть положение откуда - куда 
to top, 
to left, 
to right, 
*/
/* background-color: skyblue;  - Фон цветом*/
/* background-image: url(/city.jpg); - Задний фон */

/* На заметку для фона изображения
body {
  background-image: url(/city.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
} */
#img-pr {
  background-image: url(source/city.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
#img-pr1 {
  background: linear-gradient(to right, skyblue, white);
  background-repeat: no-repeat;
}
#img-pr2 {
  background: linear-gradient(to left, skyblue, white);
  background-repeat: no-repeat;
}

/* margin */
/* На заметку для того чтобы обекты не выходили из своего заданного размера но при этом можно было изменятть padding margin 
* {
  box-sizing: border-box;
}*/

#box0 {
}
#box1 {
  border: 5px black solid;
  width: 250px;
  height: 250px;
  font-size: 22px;
  background-color: greenyellow;
  margin-left: 30%;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 15px;
}

#box2 {
  border: 5px black solid;
  width: 250px;
  height: 250px;
  font-size: 22px;
  background-color: dodgerblue;
  margin-top: 10px;
  padding: 15px;
}

/* float */
.float-c {
  float: right;
}
.float- {
  float: left;
}
