#color {
  color: red;
}

#background-color {
  background-color: teal;
}

#p-id {
  background-color: yellow;
}

.p--class {
  background-color: skyblue;
}

#font-family {
  font-family: 'consolas', sans-serif;
}

#font-family2 {
  font-family: 'Press Start 2P';
}

#font-style {
  font-style: italic;
}

#font-weight {
  font-weight: bold;
}
#text-decoration {
  text-decoration: cyan dotted underline;
}

#font-size {
  font-size: 25px;
}

#border-one {
  border-top: dotted;
  border-bottom: solid;
  border-left: double;
  border-left-width: 10px;
  border-left-color: blue;
  border-right: double;
  border-right-width: 20px;
  border-right-color: red;
}

#border {
  border: outset;
  border-color: gold;
  border-width: 5px;
  border-radius: 10px;
  font-size: 20px;
}

/* Градиент - для него есть положение откуда - куда 
to top, 
to left, 
to right, 
*/
/* background-color: skyblue;  - Фон цветом*/
/* background-image: url(/city.jpg); - Задний фон */

/* На заметку для фона изображения
body {
  background-image: url(/city.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
} */
#img-pr {
  background-image: url(source/city.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
#img-pr1 {
  background: linear-gradient(to right, skyblue, white);
  background-repeat: no-repeat;
}
#img-pr2 {
  background: linear-gradient(to left, skyblue, white);
  background-repeat: no-repeat;
}

/* margin */
/* На заметку для того чтобы обекты не выходили из своего заданного размера но при этом можно было изменятть padding margin 
* {
  box-sizing: border-box;
}*/

#box0 {
}
#box1 {
  border: 5px black solid;
  width: 250px;
  height: 250px;
  font-size: 22px;
  background-color: greenyellow;
  margin-left: 30%;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 15px;
}

#box2 {
  border: 5px black solid;
  width: 250px;
  height: 250px;
  font-size: 22px;
  background-color: dodgerblue;
  margin-top: 10px;
  padding: 15px;
}

/* float */
.float-c {
  float: right;
}
.float- {
  float: left;
}

.box {
  width: 100px;
  height: 100px;
  font-size: 40px;
  border: 1px black solid;
  text-align: center; /*Положение Центр */
  background-color: tomato;

  float: left;
}

.box1 {
  width: 100px;
  height: 100px;
  font-size: 40px;
  border: 1px black solid;
  text-align: center;
  background-color: tomato;

  float: right;
}

.box2 {
  width: 100px;
  height: 100px;
  font-size: 40px;
  border: 1px black solid;
  text-align: center;
  background-color: tomato;

  float: right;
}

.clear {
  clear: both;
  background-color: lightgrey;
}

/* position */

#box-p1 {
  border: 1px black solid;
  width: 150px;
  height: 150px;
  background-color: skyblue;

  position: relative;

  top: 50px;
  left: 50px;
}

#box-p2 {
  border: 1px black solid;
  width: 100px;
  height: 100px;
  background-color: tomato;
  margin-bottom: 5px;
  top: 50px;
}

#box-p3 {
  border: 1px black solid;
  width: 150px;
  height: 150px;
  background-color: skyblue;
  position: relative;
  /* ПРЕСЛЕДУЩИЙ ЭЛЕМЕНТ ДО СВОЕГО МЕСТА
  position: sticky;
  bottom: 5px; */
}

#box-p4 {
  border: 1px black solid;
  width: 75px;
  height: 75px;
  background-color: tomato;

  position: absolute;

  top: 37px;
  left: 37px;
}
#google {
  font-size: 30px;
}
#google:link {
  color: lawngreen;
}

#google:link {
  color: grey;
}

#google:hover {
  color: tomato;
}

#google:active {
  color: yellow;
}

#button {
  font-size: 30px;
}

#button:hover {
  color: lightgray;
}

#button:active {
  background-color: white;
}

li {
  font-size: 30px;
}
/* Указываем где будет задний цвет 4 */
/* nth-child(3n) Каждый трейтий */
.nth:nth-child(3) {
  background-color: yellow;
}

/* 
nth-child(even) - Четные 
nth-child(odd)  - Нечетные */
.evenodd:nth-child(even) {
  background-color: skyblue;
}
.evenodd:nth-child(odd) {
  background-color: powderblue;
}
